.BannerDiv {
  text-align: center;
  background-image: url("https://countryroadsmagazine.com/downloads/7904/download/riverside-patty-rings.jpg?cb=ec2e305d716adc31418c8a187f6e34c0");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  height: 500px;
  color: black;
  box-shadow: 2px 1px 10px, -10px -10px 50px inset;
}
.BannerImg {
  width: 50%;
  max-height: 500px;
}
.BannerWords {
  margin: auto;
  margin-top: 5%;
  padding: 5px;
  background-color: rgb(192, 212, 188);
  max-width: min-content;

  border-radius: 5px;

  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}
