.TopMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: auto;
  max-height: 125px;
  min-height: min-content;
  width: 100%;

  background-image: linear-gradient(rgb(192, 212, 188), rgb(223, 235, 221));
  padding: 5px;

  font-size: larger;
}
.IconImage {
  align-self: center;
  height: 50px;
}

.Sections {
  display: flex;
}

.MainImage {
  justify-self: start;
  text-align: start;

  padding-right: 5px;
  padding-top: 5px;
}
.MainImage img {
  width: 100%;
}

.SideStuff {
  justify-self: end;
  text-align: end;

  margin-top: 5px;
  margin-right: 5px;

  display: block;
  width: 50%;
}

.MenuSection {
  min-height: 350px;
  margin: 3px;

  background-image: url(../Images/RSMenu.jpg);
  padding: 5px;
}

.Menu {
  display: flex;
  justify-content: center;
}

.InfoSection {
  padding: 5px;
  background-image: url("https://countryroadsmagazine.com/downloads/7904/download/riverside-patty-rings.jpg?cb=ec2e305d716adc31418c8a187f6e34c0");

  border: 5px solid;
  border-color: rgb(95, 7, 18);
}
