.Sections {
  display: flex;
  margin: 5px;
}
.MainImage {
  padding-right: 5px;
  padding-top: 5px;
  width: 50%;
}
.MainImage img {
  width: 100%;
}

.SideStuff {
  justify-self: end;
  text-align: end;

  margin-top: 5px;
  margin-right: 5px;

  display: block;
  width: 50%;
}

.MenuSection {
  min-height: 50%;
  margin: 3px;

  background-image: url(../Images/RSMenu.jpg);
  padding: 5px;
}

.Menu {
  display: flex;
  justify-content: center;
}

.InfoSection {
  min-height: 50%;
  padding: 5px;
  background-image: url("https://countryroadsmagazine.com/downloads/7904/download/riverside-patty-rings.jpg?cb=ec2e305d716adc31418c8a187f6e34c0");

  border: 5px solid;
  border-color: rgb(95, 7, 18);
}
