.ui.inverted.segment {
  background-color: rgb(95, 7, 19);
  width: 15%;
  display: inline-block;
  margin: 10px;
}

.Item {
  margin: 5px;
  justify-content: center;

  font-size: large;
}

.Name {
  width: 100%;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 10px;
}
.Price {
  font-size: 25px;
}
