.TopMenu {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: space-between;

  height: auto;
  max-height: max-content;
  min-height: min-content;
  min-width: 100%;

  background-image: linear-gradient(rgb(223, 235, 221), rgb(192, 212, 188));
  padding: 25px;

  font-size: larger;
  color: black;
  box-shadow: -20px 10px 50px;
}

.IconImage {
  align-self: center;
  height: 50px;
}

.PageLinks {
  max-width: 30%;
  min-width: 15%;

  max-height: max-content;
}

.facebookIcon {
  float: right;
}

#NavMenuSelection {
  display: flex;

  flex: 1;
}

#NavMenuSelection a {
  color: black;
  font-size: 23px;

  margin: 5px;
}
